<div id="page">
    <%- include('../../header') %>
        <main>
            <section id="hero_in" class="courses">
                <div class="wrapper">
                    <div class="container">
                        <h1 class="fadeInUp"><span></span>My Courses</h1>
                    </div>
                </div>
            </section>
            <div class="container margin_60_35">
                <div class="row">
                    <% mycourses.forEach(element => { %>
                        <div class="col-xl-4 col-lg-6 col-md-6">
                            <div class="box_grid wow">
                                <figure class="block-reveal">
                                    <div class="block-horizzontal"></div>
                                    <% if (element.complete === 100) { %>
                                        <span class="udlite-badge udlite-heading-xs udlite-badge-finished ">Finished</span>
                                        <% } else{ %>
                                            <span class="udlite-badge udlite-heading-xs udlite-badge-continue ">Studying</span>
                                            <% } %>
                                                <a href="/course/detail/<%= element.CourseID %> "><img src="/images/courses/<%= element.CourseID %>/main.jpg" class="img-fluid" alt=""></a>
                                                <div class="preview"><span>Continue Learning</span></div>
                                </figure>
                                <div class="wrapper" style="height: 11em;">
                                    <small><%= element.Cat2Name %>
                                        </small>
                                    <h3 class="name">
                                        <%= element.title %>
                                    </h3>
                                    <p>
                                        <%= element.full_name %>
                                    </p>

                                </div>
                                <ul>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="<%= element.complete %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= element.complete %>%">
                                            <span style="color: black;">
                                                <%= element.complete %>% Complete</span>
                                        </div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <% }) %>
                </div>
            </div>
        </main>

        <%- include('../../footer') %>
</div>
<%- contentFor('css') %>
    <style>
        .udlite-badge-continue {
            background-color: #00b909;
            color: #ffffff;
        }
        
        .udlite-badge-finished {
            background-color: #fd8585;
            color: #ffffff;
        }
        
        .udlite-badge {
            border-radius: 4px;
            display: inline-block;
            padding: .3rem .5rem;
            white-space: nowrap;
            box-sizing: border-box;
            margin: 0;
        }
        
        .udlite-heading-xs {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -.02rem;
            font-size: 1rem;
        }
    </style>