    <head>
        <% include elements/head %>
    </head>
    
    <body>
        <div id="page">
    
            <header class="header menu_2">
                <div id="preloader">
                    <div data-loader="circle-side"></div>
                </div>
                <!-- /Preload -->
                <div id="logo">
                    <a href="index.html">
                        <img src="/images/img/logo.png" width="149" height="42" data-retina="true" alt="">
                    </a>
                </div>
                <ul id="top_menu">
                    <li><a href="login.html" class="login">Login</a></li>
                    <li><a href="#0" class="search-overlay-menu-btn">Search</a></li>
                    <li class="hidden_tablet"><a href="admission.html" class="btn_1 rounded">Admission</a></li>
                </ul>
                <!-- /top_menu -->
                <a href="#menu" class="btn_mobile">
                    <div class="hamburger hamburger--spin" id="hamburger">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </a>
                <nav id="menu" class="main-menu">
    
                </nav>
                <!-- Search Menu -->
                <div class="search-overlay-menu">
                    <span class="search-overlay-close"><span class="closebt"><i class="ti-close"></i></span></span>
                    <form role="search" id="searchform" method="get">
                        <input value="" name="q" type="search" placeholder="Search..." />
                        <button type="submit"><i class="icon_search"></i>
                        </button>
                    </form>
                </div><!-- End Search Menu -->
            </header>
            <!-- /header -->
    
            <main>
                <section id="hero_in" class="courses" >
                    <div class="wrapper" style="background: radial-gradient(circle, rgba(208,229,255,1) 0%, rgba(115,167,228,1) 100%);">
                        <div class="container">
                            <h1 class="fadeInUp" style="color:black;"><span style="background-color:black; width: 25%;"></span>Online courses</h1>
                        </div>
                    </div>
                </section>
                <!--/hero_in-->
    
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <%
                        for(i = 0; i < lstCat1.length ; i++){
                            if(lstCat1[i].Cat1ID === Cat1ID){
                                %>
                                <li class="breadcrumb-item"><%= lstCat1[i].Cat1Name %></li>
                                <%
                            }
                        }
                        %>
                    </ol>
                </nav>
    


                <div class="container margin_60_35">
                <%
                    lstCourses.forEach(function(item){
                %>
                        <div class="box_list wow">
                            <div class="row no-gutters">
                                <div class="col-lg-5">
                                    <figure class="block-reveal">
                                        <div class="block-horizzontal"></div>
                                        <a href="/course/detail/<%= item.CourseID %>">
                                            <img src="/images/courses/<%= item.CourseID %>/main.jpg"  alt="">
                                        </a>
                                        <div class="preview"><span>Preview course</span></div>
                                    </figure>
                                </div>
                                
                                <div class="col-lg-7">
                                    <div class="wrapper">
                                        <%
                                            if(item.promotional_price < item.price){
                                        %>
                                            <div class="price"style="margin-bottom: 10px;">
                                                <del><%= item.price %> VND</del>
                                                <span>&emsp;<%= item.promotional_price %> VND</span>
                                            </div>
                                        <%
                                            }
                                            else{
                                        %>
                                                <div class="price"style="margin-bottom: 10px;"><%= item.price %> VND</div>
                                        <%    
                                            }
                                        %>                        
                                        <small style="font-size:15px; color:rgb(8 101 216);"><%= item.Cat2Name %></small>
                                        <h3 style="line-height: 1.5;"><%= item.title %></h3>
                                        <h3><i class="icon-user"></i><%= item.full_name %></h3>
                                        <p style="font-size: 15px;"><%= item.brief_des %></p>
                                        
                                        <div class="rating">
                                        <%
                                            countStar = item.star1 + item.star2 + item.star3 + item.star4 + item.star5;
                                            if(countStar>0){
                                                averageStar = Math.round((item.star1 + item.star2*2 + item.star3*3 + item.star4*4 + item.star5*5)/countStar);
                                            }
                                            else{
                                                averageStar = 0;
                                            }
                                            for(i=0; i<averageStar; i++){
                                                %>
                                                <i class="icon_star voted"></i>
                                                <%
                                            }
                                            for(i=0; i<(5-averageStar); i++){
                                                %>
                                                <i class="icon_star"></i>
                                                <%
                                            }
                                        %>
                                            <small>(<%= countStar %>)</small>
                                        </div>
                                    </div>
                                    <ul style="padding:0 10px;">
                                        <li style="padding:10px;"><a href="course-detail.html" class="btn btn-outline-primary btn-lg">Add to cart</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                <%
                    });
                %>
                </div>
            </main>
            <!--/main-->
    
            <footer>
            </footer>
        </div>
        <!-- page -->
    
        <!-- COMMON SCRIPTS -->
        <% include elements/script %>
    
    
    </body>
    
    </html>