<!DOCTYPE html>
<html lang="en">

<head>
    <% include elements/head %>
        <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet" />
        <link href="https://unpkg.com/@videojs/themes@1/dist/sea/index.css" rel="stylesheet" />
        <link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet" />

        <style>
            .modal-backdrop {
                z-index: 999998 !important;
            }
            
            video {
                opacity: 1;
            }
            
            .modal {
                z-index: 999999 !important;
            }
            
            .video-js .vjs-time-control {
                display: inline-block;
            }
            
            .video-js .vjs-remaining-time {
                display: none;
            }
            
            .vjs-playback-rate .vjs-playback-rate-value {
                line-height: 3.5;
            }
            
            .vjs-theme-fantasy {
                --vjs-theme-fantasy--primary: #bf3b4d;
            }
            /* color: rgba(255, 255, 255, 0.199); */
        </style>
</head>


<body>

    <div class="modal fade bd-example-modal-lg" modal-back id="lession" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h7>Course Preview</h7>
                    <h5 class="modal-title" id="exampleModalLabel">
                        <%= course.title %>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
                </div>
                <div class="modal-body">
                    >
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <% include ../header %>
        <div id="page" class="theia-exception">
            <main>
                <section id="hero_in" class="courses">
                    <div class="wrapper" style="background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(174,175,177,1) 100%);">
                        <img src="/images/courses/<%= course.CourseID %>/main.jpg" alt="" style="width:60%; height: auto; margin:0px auto; border-radius: 10px;">
                    </div>
                </section>
                <div class="bg_color_1">
                    <nav class="secondary_nav sticky_horizontal" style="background: linear-gradient(0deg, rgb(130, 129, 127) 30%, rgb(161 162 162) 100%);">
                        <div class="container">
                            <ul class="clearfix">
                                <li><a href="#description" class="active">Description</a></li>
                                <li><a href="#lessons">Lessons</a></li>
                                <li><a href="#reviews">Reviews</a></li>
                                <li><a href="#teacher">Teacher</a></li>
                                <li><a href="#bestseller">Bestseller</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="container margin_60_35">
                        <div class="row">
                            <div class="col-lg-8">

                                <section id="description">
                                    <h3 style="line-height: 2; color: rgb(14 99 185); font-weight: bold;">
                                        <%= course.title %>
                                    </h3>
                                    <h2 style="line-height: 2; color:#000; font-size:24px; font-weight: bold;">
                                        Brief Description</h2>
                                    <p style="font-size: 18px; color:#000;">
                                        <%= course.brief_des %>
                                    </p>
                                    <hr>
                                    <h2 style="line-height: 2; color:#000; font-size:24px; font-weight: bold;">
                                        Description</h2>
                                    <div style="color: #3d3d3e; font-size:16px;">
                                        <%- course.detail %>
                                            <!-- Chú ý cái này, nó sẽ thay đổi định dạng file css đó, nên phải cẩn thận test và loại bỏ những khóa học như vầy! -->
                                    </div>
                                </section>
                                <!-- /section -->

                                <section id="lessons">
                                    <div class="intro_title">
                                        <h2>Lessons</h2>
                                        <ul>
                                            <li>
                                                <%= course.num_lessions %> lessons</li>
                                            <li>
                                                <%= course.duration %>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="accordion_lessons" role="tablist" class="add_bottom_45">
                                        <% lessions.forEach(e => { %>
                                            <div class="card">
                                                <div class="card-header" role="tab" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="indicator ti-minus"></i>
															<%= e.section.namest %> </a>
                                                    </h5>
                                                </div>

                                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion_lessons">
                                                    <div class="card-body">
                                                        <div class="list_lessons">
                                                            <ul>
                                                                <% e.lessions.forEach(l => { %>
                                                                    <li>
                                                                        <a href="javascript:;" class="active" role="button" aria-pressed="true" data-toggle="modal" data-lessionid=<%=l.lessionid%>  data-target="#lession"><i class="icon-play-circled" aria-hidden="true"></i><%= l.namels %> </a>

                                                                        <span><%= l.duration %> </span>
                                                                    </li>
                                                                    <% }) %>


                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                            <% }) %>

                                                <!-- /accordion -->
                                </section>
                                <!-- /section -->
                                <section id="reviews">
                                    <h2>Reviews</h2>
                                    <div class="reviews-container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div id="review_summary" style="background-color: #3f9fff;">
                                                    <% countStar=course.star1 + course.star2 + course.star3 +
														course.star4 + course.star5; star1=course.star1/countStar *100;
														star2=course.star2/countStar *100; star3=course.star3/countStar
														*100; star4=course.star4/countStar *100;
														star5=course.star5/countStar *100; if(countStar>0){
														averageStarInt = Math.round((course.star1 + course.star2*2 +
														course.star3*3 + course.star4*4 + course.star5*5)/countStar);
														averageStarFloat = (course.star1 + course.star2*2 +
														course.star3*3 +
														course.star4*4 + course.star5*5)/countStar;
														}
														else{
														averageStarInt = 0;
														averageStarFloat = 0;
														}
														%>
                                                        <strong>
															<%= averageStarFloat %>
														</strong>
                                                        <div class="rating">
                                                            <% for(i=0; i<averageStarInt; i++){ %>
                                                                <i class="icon_star voted"></i>
                                                                <% } for(i=0; i<(5-averageStarInt); i++){ %>
                                                                    <i class="icon_star"></i>
                                                                    <% } %>
                                                        </div>
                                                        <small>Based on <%= countStar %> reviews</small>
                                                </div>
                                            </div>
                                            <div class="col-lg-9">
                                                <div class="row">
                                                    <div class="col-lg-10 col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: <%= star5 %>%" aria-valuenow="<%= star5 %>" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-3"><small><strong>5 stars</strong></small>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-10 col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: <%= star4 %>%" aria-valuenow="<%= star4 %>" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-3"><small><strong>4 stars</strong></small>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-10 col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: <%= star3 %>%" aria-valuenow="<%= star3 %>" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-3"><small><strong>3 stars</strong></small>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-10 col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: <%= star2 %>%" aria-valuenow="<%= star2 %>" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-3"><small><strong>2 stars</strong></small>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-lg-10 col-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: <%= star1 %>%" aria-valuenow="<%= star1 %>" aria-valuemin="0" aria-valuemax="100">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-2 col-3"><small><strong>1 stars</strong></small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>

                                    <div class="reviews-container">

                                        <% feedback.forEach(function(item){ %>
                                            <div class="review-box clearfix">
                                                <figure class="rev-thumb">
                                                    <img src="/images/user-review.png" alt="">
                                                </figure>
                                                <div class="rev-content">
                                                    <div class="rating">
                                                        <% for(i=1; i <=item.star; i++){ %>
                                                            <i class="icon_star voted"></i>
                                                            <% } for(i=0; i < (5-item.star); i++){ %>
                                                                <i class="icon_star"></i>
                                                                <% } %>
                                                    </div>
                                                    <div class="rev-info">
                                                        <%= item.full_name %> –
                                                            <%= item.date_review %>
                                                    </div>
                                                    <div class="rev-text">
                                                        <p>
                                                            <%= item.review%>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }) %>
                                    </div>
                                </section>
                                <hr>
                                <section id="teacher">
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                    <p>Teacher</p>
                                </section>
                                <hr>
                                <section id="bestseller">
                                    <h2 style="margin-bottom: 30px;">Best Seller</h2>
                                    <div class="container margin_60_35" style="padding:0;" id="add-in-list">
                                        <% top5courses.forEach(function(item){ %>
                                            <div class="box_list wow">
                                                <div class="row no-gutters">
                                                    <div class="col-lg-5">
                                                        <figure class="block-reveal">
                                                            <div class="block-horizzontal"></div>
                                                            <a href="/course/detail/<%= item.CourseID %>">
																<img src="/images/courses/<%= item.CourseID %>/main.jpg"
																	alt="">
															</a>
                                                            <div class="preview"><span>Preview course</span></div>
                                                        </figure>
                                                    </div>

                                                    <div class="col-lg-7">
                                                        <div class="wrapper">
                                                            <% if((item.promotional_price < item.price) &&
																(getDayLeft(item.end_discount)>=
																0)){
																%>
                                                                <div class="price" style="margin-bottom: 10px; color:#3f9fff;">
                                                                    <del>
																		<%= getCurrency(item.price) %>
																	</del>
                                                                    <span>&emsp;<%= getCurrency(item.promotional_price)
																			%></span>
                                                                </div>
                                                                <% } else{ %>
                                                                    <div class="price" style="margin-bottom: 10px; color:#3f9fff;">
                                                                        <%= getCurrency(item.price) %>
                                                                    </div>
                                                                    <% } %>

                                                                        <h3 style="line-height: 1.5; font-size: 20px; margin-bottom: 20px;">
                                                                            <%= item.title %>
                                                                        </h3>

                                                                        <h3 style="font-size: 20px; line-height: 1.5;">
                                                                            <i class=" icon-user-add"></i>
                                                                            <%= item.number_of_students %> student
                                                                        </h3>


                                                                        <div class="rating" style="font-size: 20px;">
                                                                            <% countStar=item.star1 + item.star2 +
																				item.star3 + item.star4 + item.star5;
																				if(countStar>0){
																				averageStar = Math.round((item.star1 +
																				item.star2*2 +
																				item.star3*3 + item.star4*4 +
																				item.star5*5)/countStar);
																				}
																				else{
																				averageStar = 0;
																				}
																				for(i=0; i<averageStar; i++){ %>
                                                                                <i class="icon_star voted"></i>
                                                                                <% } for(i=0; i<(5-averageStar);
																						i++){ %>
                                                                                    <i class="icon_star"></i>
                                                                                    <% } %>
                                                                                        <small>(<%= countStar %>)</small>
                                                                        </div>
                                                        </div>
                                                        <ul style="padding:0 10px;">
                                                            <li style="padding:10px;"><a href="/course/detail/<%= item.CourseID %> " class="btn btn-outline-primary btn-lg add-item addtocartbutton">Enroll now</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <% }); %>
                                    </div>
                                </section>
                                </div>


                                <aside class="col-lg-4" id="sidebar">

                                    <div class="box_detail">
                                        <div id="vidBox">
                                            <div id="videCont">

                                                <video id="my-video1" class="video-js vjs-big-play-centered vjs-theme-sea" controls preload="auto" fluid="true" aspectRatio='16:9' poster="/images/courses/<%= course.CourseID %>/main.jpg" data-setup="{}">
												<source src="/video/<%= course.CourseID %>.mp4" type="video/mp4" />
												
												<p class="vjs-no-js">
												To view this video please enable JavaScript, and consider upgrading to a
												web browser that
												<a href="https://videojs.com/html5-video-support/" target="_blank"
													>supports HTML5 video </a>
												</p>
											</video>
                                            </div>
                                        </div>

                                        <div class="price">
                                            <% if((course.promotional_price < course.price) &&
											(getDayLeft(course.end_discount)>= 0)){ %>
                                                <%= getCurrency(course.promotional_price) %><span class="original_price"><em>
														<%= getCurrency(course.price) %>
													</em>
													<% discount=Math.round(((course.price -
														course.promotional_price)/course.price) * 100); %>
														<%= discount %>%
												</span>
                                                    <div class="end_discount">
                                                        <span class="icon-clock" style="font-weight: bold;">
														<%= getDayLeft(course.end_discount)%> days left
													</span><span> at this price</span>
                                                    </div>
                                                    <% } else{ %>
                                                        <%= getCurrency(course.price) %>
                                                            <% } %>
                                        </div>
                                        <div class="page-wrapper">
                                            <a id="add-self" value="<%= course.CourseID %>" href="javascript:;" class="btn_1 full-width">Add to cart<span class="cart-item"></span></a>
                                        </div>
                                        <a href="#0" class="btn_1 full-width outline"><i class="icon_heart"></i> Add to
                                        wishlist</a>

                                        <div id="list_feat">
                                            <h3>What's includes</h3>
                                            <ul>
                                                <li><i class="icon-user"></i>Created by
                                                    <%= course.full_name%>
                                                </li>
                                                <li><i class="icon-email"></i>
                                                    <%= course.email %>
                                                </li>
                                                <li><i class="icon-calendar-alt-1"></i>Public
                                                    <%= course.date_public.split(" ",1) %>
                                                </li>
                                                <li><i class=" icon-calendar-alt-1"></i>Last update
                                                    <%= course.last_update.split(" ",1) %>
                                                </li>
                                                <li><i class=" icon-user-add"></i>
                                                    <%= course.number_of_students %> student</li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <!-- /row -->
                        </div>
                        <!-- /container -->
                    </div>
                    <!-- /bg_color_1 -->
            </main>
            <!--/main-->
            </div>
            <!-- page -->

            <% include ../footer %>
                <!-- COMMON SCRIPTS -->
                <% include elements/script %>
                    <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
                    <script>
                        $('#add-self').on('click', function(event) {
                            event.preventDefault();
                            const value = $(this).attr('value');
                            var button = $(this);
                            var cart = $('#cart');
                            var cartTotal = cart.attr('data-totalitems');
                            var newCartTotal = parseInt(cartTotal) + 1;

                            $.getJSON(`/cart/add?id=${value}`, function(data) {
                                if (data) {
                                    var button = $(this);
                                    var cart = $('#cart');
                                    var cartTotal = cart.attr('data-totalitems');
                                    var newCartTotal = parseInt(cartTotal) + 1;
                                    button.addClass('sendtocart');
                                    setTimeout(function() {
                                        button.removeClass('sendtocart');
                                        cart.addClass('shake').attr('data-totalitems', newCartTotal);
                                        setTimeout(function() {
                                            cart.removeClass('shake');
                                        }, 500)
                                    }, 1000)
                                } else {
                                    $('#fail-modal').appendTo('body').modal('show');
                                }
                            });
                        })
                        $('#lession').on('show.bs.modal', function(event) {
                            var button = $(event.relatedTarget) // Button that triggered the modal
                            var lessionid = button.data('lessionid') // Extract info from data-* attributes
                                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                            var modal = $(this)


                            modal.find('.modal-body').empty().append($(`
				<video
					id="my-video"
					class="video-js vjs-big-play-centered vjs-theme-fantasy" data-setup="{}"
					>
					<source src="/private/<%= course.CourseID %>/${lessionid}.mp4" type="video/mp4" />
					<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
					</p>
				</video>	
				`));
                            $(this).appendTo('body');

                            const player = videojs('my-video', {
                                preload: "auto",
                                fluid: true, // videojs settings
                                controls: true,
                                poster: "/images/courses/<%= course.CourseID %>/main.jpg",
                                playbackRates: [0.25, 0.5, 1, 1.5, 2],
                                aspectRatio: '16:9',
                                //currentTime: '60.0'
                            });


                        });


                        $('#lession').on('hidden.bs.modal', function() {

                            $('video').each(function() {
                                this.pause();
                                $(".modal-body").html("");
                                const player = videojs('my-video');

                                player.dispose();

                            });
                        })
                    </script>
</body>
<!-- Modal -->
<div class="modal fade" id="fail-modal" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>This course is already in your cart.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

</html>