<div id="page">
    <%- include('../header') %>
        <main>
            <section id="hero_in" class="courses">
                <div class="wrapper" style="background-image: url('/images/img/bg.jpg');">
                    <div class="container">
                        <h1 class="fadeInUp"><span></span>
                            <%= keyword %>
                        </h1>
                    </div>
                </div>
            </section>
            <!--/hero_in-->

            <div class="filters_listing sticky_horizontal">
                <div class="container">
                    <ul class="clearfix">
                        <li>
                            <div class="switch-field">
                                <input type="radio" name="listing_filter" value="all" checked>
                                <label for="all">Categories: </label>
                                <% listCat2.forEach(element => { %>
                                    <input type="radio" name="listing_filter" value="<%= element.Cat2ID %> ">
                                    <label for="<%= element.Cat2ID %>"><a href="/course/byCat2/<%= element.Cat2ID %>"><%= element.Cat2Name %> </a></label>
                                    <% }) %>
                            </div>
                        </li>
                        <li>
                            <select id="sort-option" name="sortby" class="selectbox">
                                    <option value="all">All</option>
                                    <option value="by-rating">Highest rated</option>
                                    <option value="by-price">Lowest Price</option>
							</select>
                        </li>
                    </ul>
                </div>
                <!-- /container -->
            </div>
            <!-- /filters -->

            <div id="list-courses" class="container margin_60_35">
                <% list.forEach(element => { %>
                    <div class="box_list wow">
                        <div class="row no-gutters">
                            <div class="col-lg-5">
                                <figure class="block-reveal">
                                    <div class="block-horizzontal"></div>
                                    <a href="detail/<%= element.CourseID %>"><img src="/images/courses/<%= element.CourseID %>/main.jpg" class="img-fluid" alt=""></a>
                                    <div class="preview"><span>Preview course</span></div>
                                </figure>
                            </div>
                            <div class="col-lg-7">
                                <div class="wrapper">
                                    <a href="#0" class="wish_bt"></a>
                                    <% if(element.promotional_price < element.price){ %>
                                        <div class="price">
                                            <span><%= getCurrency(element.promotional_price) %></span>
                                            <small><del><%= getCurrency(element.price) %></del></small>
                                            <% if(element.isbestseller){ %>
                                                <span class="udlite-badge udlite-heading-xs udlite-badge-bestseller ">Bestseller</span>
                                                <%  } if(element.isnew){ %>
                                                    <span class="udlite-badge udlite-heading-xs udlite-badge-new ">New</span>
                                                    <% } %>
                                        </div>
                                        <% } else{ %>
                                            <div class="price">
                                                <%= getCurrency(element.price) %>
                                            </div>
                                            <% if(element.isbestseller){ %>
                                                <span class="udlite-badge udlite-heading-xs udlite-badge-bestseller ">Bestseller</span>
                                                <%  } if(element.isnew){ %>
                                                    <span class="udlite-badge udlite-heading-xs udlite-badge-new ">New</span>
                                                    <% } %>
                                                        <%    
                                            } %>
                                                            <small><%= element.Cat2Name %> </small>
                                                            <h3>
                                                                <%= element.title %>
                                                            </h3>
                                                            <h6>
                                                                <%= element.full_name %>
                                                            </h6>
                                                            <p>
                                                                <%= element.brief_des %>
                                                            </p>
                                                            <div class="rating">
                                                                <% var star = getStar(element.star1, element.star2, element.star3, element.star4, element.star5); 
                                        for (var i = 0; i < 5; i++ ){
                                            if (i < star){ %>
                                                                    <i class="icon_star voted "></i>
                                                                    <% }
                                            else{ %>
                                                                        <i class="icon_star "></i>
                                                                        <% }
                                            } %>
                                                            </div>

                                                            <ul>
                                                                <li><i class="icon_clock_alt"></i>
                                                                    <%= element.duration %>
                                                                </li>
                                                                <li><i class="icon-eye"></i>
                                                                    <%= element.views %>
                                                                </li>
                                                                <li><a href="detail/<%= element.CourseID %> ">Enroll now</a></li>
                                                            </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) %>

            </div>
            <input type="hidden" value="<%= nPages%>" id="nPages">
            <nav id="paginator">
                <ul class="pagination justify-content-center">
                    <% if(page === 1 ) { %>
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:;" tabindex="-1" style="width: 90px;">Previous</a>
                        </li>
                        <%} 
                                else {%>
                            <li class="page-item">
                                <a class="page-link" value="<%= page - 1 %>" href="javascript:;" tabindex="-1" style="width: 90px;">Previous</a>
                            </li>
                            <% } %>
                                <% 
                                            var pages = 3;
                                            if (nPages < 3) pages = nPages;
                                            for(var i = 1; i <= pages; i++){ %>
                                    <% if (i == page) { %>
                                        <li class="page-item disabled">
                                            <a class="page-link" href="javascript:;">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } else{ %>
                                            <li class="page-item">
                                                <a class="page-link" href="javascript:;">
                                                    <%= i %>
                                                </a>
                                            </li>
                                            <% }} %>
                                                <% if(page === nPages ) { %>
                                                    <li class="page-item disabled text-center">
                                                        <a class="page-link" href="javascript:;" style="width: 90px;">Next</a>
                                                    </li>
                                                    <%} 
                                                else {%>
                                                        <li class="page-item">
                                                            <a class="page-link text-center" value="<%= page + 1 %>" href="javascript:;" style="width: 90px;">Next</a>
                                                        </li>
                                                        <% } %>
                </ul>
            </nav>
        </main>
        <%- include('../footer') %>
</div>
<!-- page -->
<%- contentFor('css') %>
    <style>
        .udlite-badge-new {
            background-color: #ffe799;
            color: #593d00;
        }
        
        .udlite-badge-bestseller {
            background-color: #fd8585;
            color: #593d00;
        }
        
        .udlite-badge {
            border-radius: 4px;
            display: inline-block;
            padding: .3rem .5rem;
            white-space: nowrap;
            box-sizing: border-box;
            margin: 0;
        }
        
        .udlite-heading-xs {
            font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -.02rem;
            font-size: 1rem;
        }
    </style>
    <%- contentFor('js') %>
        <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
        <script src="/javascripts/home.js "></script>
        <script src="/javascripts/js/search.js "></script>