
<!DOCTYPE html>
<html lang="en">

<% include ../elements/head %>

  <body class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->
    <% include navbar %>
      <!-- /Navigation-->






      <div class="content-wrapper">
        <div class="container-fluid">
            <section>
                <div class="intro_title">
                    <h2>Lessons</h2>
                    <ul>
                        <li>
                            <%= course.num_lessions %> lessons</li>
                        <li>
                            <%= course.duration %>
                        </li>
                    </ul>
                </div>
                <div id="accordion_lessons" role="tablist" class="add_bottom_45">
                    <% lessions.forEach(e => { %>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="indicator ti-minus"></i>
                                        <%= e.section.namest %> </a>
                                </h5>
                            </div>
                
                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion_lessons">
                                <div class="card-body">
                                    <div class="list_lessons">
                                        <ul>
                                            <% e.lessions.forEach(l => { %>
                                                <li>
                                                    <a href="../addAVideo?lessionid=<%= l.lessionid %>&courseid=<%= course.CourseID %>" >  <i class="icon-play-circled" aria-hidden="true"></i><%= l.namels %> </a>
                
                                                    <span><%= l.duration %> </span>
                                                </li>
                                                <% }) %>
                
                
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                
                
                        <% }) %>
                
                </div>
            </section>
          
          <!-- /tables-->
        </div>
        <!-- /container-fluid-->
      </div>
      <!-- /container-wrapper-->
      <% include ../elements/footer %>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <% include ../elements/logout%>

          <!-- Bootstrap core JavaScript-->
          <% include ../elements/javascript-addon %>
  </body>

</html>
