<!-- <!DOCTYPE html>
<html lang="en">
  <% include ../elements/head %>
-->


<body class="fixed-nav sticky-footer" id="page-top">
  <!-- Navigation-->
  <% include navbar %>
    <!-- /Navigation-->
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- Breadcrumbs-->

        <div class="card mb-3">
          <div class="card-header">
            <h3><i class="fa fa-fw fa-plus-circle"></i> EDIT COURSE</h3>
          </div>
          <div class="card-body">
            <form action="/lecturer/update-course-detail" method="post" enctype="multipart/form-data">
              <!-- Course Details -->

              <div class="box_general padding_bottom">
                <div class="header_box version_2" style="margin-top:20px;">
                  <h2><i class="fa fa-fw fa-archive"></i>COURSE DETAILS</h2>
                </div>

                <div class="row" style="margin-top:20px;">
                  <div class="col input-group-lg">
                    <label for="title">
                      <h5>Category 1</h5>
                    </label>
                    <select class="form-control form-control-lg" name="Cat1ID" onchange="getCat2()" id="cat1ID">
                      <% list_cat1.forEach(function(cat1Item){ if(cat1Item.Cat1ID===course.Cat1ID){ %>
                        <option value="<%= cat1Item.Cat1ID%>" selected>
                          <%= cat1Item.Cat1Name %>
                        </option>
                        <% }else{ %>
                          <option value="<%= cat1Item.Cat1ID%>">
                            <%= cat1Item.Cat1Name %>
                          </option>
                          <% } }) %>
                    </select>
                  </div>
                  <div class="col input-group-lg">
                    <label for="title">
                      <h5>Category 2</h5>
                    </label>
                    <select class="form-control form-control-lg" name="Cat2ID" id="cat2ID">
                      <% list_cat2.forEach(function(cat2Item){ if(cat2Item.Cat2ID===course.Cat2ID){ %>
                        <option value="<%= cat2Item.Cat2ID%>" selected>
                          <%= cat2Item.Cat2Name %>
                        </option>
                        <% }else{ %>
                          <option value="<%= cat2Item.Cat2ID%>">
                            <%= cat2Item.Cat2Name %>
                          </option>
                          <% } }) %>
                    </select>
                  </div>
                </div>

                <div class="row input-group-lg" style="margin-top:20px;">
                  <div class="col input-group-lg">
                    <div class="input-group-lg">
                      <label for="title">
                        <h5>Title</h5>
                      </label>
                      <input type="text" autofocus class="form-control" id="title" name="title" placeholder="" required
                        value="<%= course.title%>">
                    </div>
                  </div>
                </div>


                <div class="row input-group-lg" style="margin-top:20px;">
                  <div class="col input-group-lg">
                    <div class="form-group">
                      <label for="bigPicture">
                        <h5>Picture (Big size)</h5>
                      </label>
                      <input type="file" class="file form-control-file text-center" id="bigPicture" name='main.jpg' >
                    </div>
                  </div>
                  <div class="col input-group-lg">
                    <div class="form-group">
                      <label for="smallPicture">
                        <h5>Picture (Small size)</h5>
                      </label>
                      <input type="file" class="file" id="smallPicture" name='thumb.jpg' >
                    </div>
                  </div>
                </div>

                <div class="row" style="margin-top:20px;">
                  <div class="col input-group-lg">
                    <label for="price">
                      <h5>Price</h5>
                    </label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="" step="10000"
                      required min="0" value="<%= course.price %>">
                  </div>
                  <div class="col input-group-lg">
                    <label for="promotionalPrice">
                      <h5>Promotional Price</h5>
                    </label>
                    <input type="number" value="<%= course.promotional_price %>" class="form-control"
                      id="promotionalPrice" name="promotional_price" placeholder="" step="10000" required min="0">
                  </div>
                </div>

                <div class="row" style="margin-top:20px;">
                  <div class="col input-group-lg">
                    <label for="endDiscount">
                      <h5>Date Public</h5>
                    </label>
                    <input type="date" value="<%= course.date_public %>" class="form-control" id="datePublic"
                      name="date_public" required>
                  </div>
                  <div class="col input-group-lg">
                    <label for="endDiscount">
                      <h5>End Discount</h5>
                    </label>
                    <input type="date" class="form-control" id="endDiscount" value="<%= course.end_discount %>"
                      name="end_discount" required>
                  </div>
                </div>

                <div class="form-group input-group-lg" style="margin-top:20px;">
                  <label for="briefDesc">
                    <h5>Brief Description</h5>
                  </label>
                  <textarea class="form-control" cols="30" rows="2" placeholder="" id="briefDesc" name="brief_des"
                    required ><%= course.brief_des %></textarea>
                </div>

                <div class="form-group input-group-lg">
                  <label for="detailDesc">
                    <h5>Detailed Description</h5>
                  </label>
                  <textarea class="form-control" cols="30" rows="15" placeholder="" id="detailDesc"
                    name="detail"><%= course.detail %></textarea>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
        <!-- /tables-->
      </div>
      <!-- /container-fluid-->
    </div>
    <script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#detailDesc',
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
          'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
      });
    </script>
    <!-- /container-wrapper-->
    <% include ../elements/footer %>
      <!-- Scroll to Top Button-->
      <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
      </a>
      <!-- Logout Modal-->
      <% include ../elements/logout%>

        <!-- Bootstrap core JavaScript-->
        <% include ../elements/javascript-addon %>
          <!--           
 </body>

</html> -->
          <%- contentFor('css') %>
            <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">
            <style>
              footer {
                background-color: white !important;
              }
            </style>

            <%- contentFor('js') %>
              <script
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
              <script
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
              <script
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/locales/vi.min.js"></script>
              <script>

                $('#bigPicture').fileinput({
                  language: 'en',
                  theme: 'fa',
                  allowedFileExtensions: ['jpg'],
                  showUpload: false,
                  dropZoneEnabled: false,
                  overwriteInitial: true,
                  autoReplace: true,
                  initialPreview: [
                  "<img src='/images/courses/<%= course.CourseID %>/main.jpg' class='file-preview-image' title='Main' width='480' >"
                    ,]
                    
                });
                $('#smallPicture').fileinput({
                  language: 'en',
                  theme: 'fa',
                  allowedFileExtensions: ['jpg'],
                  showUpload: false,
                  dropZoneEnabled: false,
                  overwriteInitial: true,
                  autoReplace: true,
                  initialPreview: [
                 
                  "<img src='/images/courses/<%= course.CourseID %>/thumb.jpg' class='file-preview-image' title='Thumb' width='240' >"
                    ,]
       
                });
                

              </script>