<% include ../elements/head %>

  <body class="fixed-nav sticky-footer" id="page-top">
    <!-- Navigation-->
    <% include navbar %>
      <!-- /Navigation-->
      <div class="content-wrapper">
        <div class="container-fluid">
          <!-- Breadcrumbs-->

          <div class="card mb-3">
            <div class="card-header">
              <h3><i class="fa fa-fw fa-plus-circle"></i> Update Infomation</h3>
            </div>
            <div class="card-body">
              <form id="form_update_lecturer_info" method="post" onsubmit="return validateFormUpdateLecturerInfo()">
                <div class="box_general padding_bottom">
                  <div class="header_box version_2" style="margin-top:20px;">
                    <h2><i class="fa fa-fw fa-archive"></i>My profile</h2>
                  </div>

                  <div class="form-group input-group-lg" style="margin-top:20px;">
                    <label for="full_name">
                      <h5>Full name</h5>
                    </label>
                    <input type="text" class="form-control" value="<%= lecturer.full_name %>" id="full_name"
                      name="full_name" required></textarea>
                  </div>

                  <div class="row input-group-lg" style="margin-top:20px;">
                    <div class="col input-group-lg">
                      <div class="form-group">
                        <h5>Old Picture</h5>
                        <img src="/images/users/<%= lecturer.UserID %>.jpg"
                          style="height:350px; width:auto; max-width: 550px;" alt="You have not uploaded the image" class="img-thumbnail">
                      </div>
                    </div>
                    <div class="col input-group-lg">
                      <div class="form-group">
                        <label for="imageUser">
                          <h5>New Picture</h5>
                        </label>
                        <input type="file" class="file" id="imageUser" name="<%= lecturer.UserID %>.jpg">
                      </div>
                    </div>
                  </div>

                  <div class="form-group input-group-lg" style="margin-top:20px;">
                    <label for="occupation">
                      <h5>Occupation</h5>
                    </label>
                    <textarea class="form-control" cols="30" rows="2" placeholder="" id="occupation" name="occupation"
                      required><%= lecturer.occupation%></textarea>
                  </div>

                  <div class="form-group input-group-lg">
                    <label for="LectureInfo">
                      <h5>Lecturer Infomation</h5>
                    </label>
                    <textarea class="form-control" autofocus cols="30" rows="15" placeholder="" id="LectureInfo"
                      name="LectureInfo"><%= lecturer.LectureInfo%></textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
          <!-- /tables-->
        </div>
        <!-- /container-fluid-->
      </div>
      <script src="https://cdn.tiny.cloud/1/ezd73nxbzc7bu6e86g2l82jbbffke0mwevwrnyvc5q8h89j6/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

      <script>
        tinymce.init({
          selector: '#LectureInfo',
          plugins: 'paste image link autolink lists table media',
          menubar: false,
          toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
          ],
        });
      </script>
      <!-- /container-wrapper-->
      <% include ../elements/footer %>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
          <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <% include ../elements/logout%>

          <!-- Bootstrap core JavaScript-->
          <% include ../elements/javascript-addon %>

            <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/css/fileinput.min.css">

            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>
            <script
              src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/themes/fa/theme.min.js"></script>
            <script
              src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/locales/vi.min.js"></script>

            <script>

              $('#imageUser').fileinput({
                language: 'en',
                theme: 'fa',
                allowedFileExtensions: ['jpg'],
                showUpload: false,
                dropZoneEnabled: false,
              });
              
            </script>