<header class="header menu_2">
    <div id="preloader">
        <div data-loader="circle-side"></div>
    </div>
    <!-- /Preload -->
    <div id="logo">
        <a href="/"><img src="/images/img/logo1.png"></a>
    </div>
    <ul id="top_menu">
        <li>
            <div id="searchdropdown" class='dropdown nav-item form-inline ml-auto '>
                <form id="searcharea" method="GET" action="/course/search">
                    <div class="form-group has-white">
                        <input id="searchbar" type="text" class="form-control" placeholder="Search" name="key">
                    </div>
                </form>
                <div id="resultbar" class="dropdown-menu-spec dropdown-with-icons"></div>
            </div>
        </li>
        <li>
            <div id="cart" class="cart" data-totalitems="<%= locals.cartSummary %>">
                <a href="/cart"><img src="/images/img/cart.png"></a>
            </div>
        </li>
    </ul>
    <!-- /top_menu -->
    <a href="#menu" class="btn_mobile">
        <div class="hamburger hamburger--spin" id="hamburger">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
    </a>
    <nav id="menu" class="main-menu">
        <ul>
            <li><span><a href="/"><i class="icon-home"></i>Home</a></span></li>
            <li><span><a href="#0"><i class="icon-th-list"></i>Categories</a></span>
                <ul>
                    <% lstCat1.forEach(function(element, index){ %>
                        <li>
                            <a href="/course/byCat1/<%= element.Cat1ID %>">
                                <%= element.Cat1Name %> <span class="caret"></span></a>
                            <ul style="left: 100%; top: 10%;">
                                <% lstCat2[ index].forEach(ele => { %>
                                    <li>
                                        <a href="/course/byCat2/<%= ele.Cat2ID %> ">
                                            <%= ele.Cat2Name %>
                                        </a>
                                    </li>
                                    <% }) %>
                            </ul>
                        </li>
                        <% }) %>
                </ul>
            </li>
            <% if(auth == false){ %>

                <li><a href="/account/login" class="btn_1 rounded">Sign In</a></li>
                <li><a href="/account/register" class="btn_2 rounded">Sign Up</a></li>
                <% }else{ %>
                    <li><span><a href="javascript:;"> <i class="icon-user"></i>Hi
                        <%= authUser.full_name.split(" ")[0] %>! </a></span>
                        <ul>
                            <% if (authUser.type_of_account === 0) { %>
                                <li>
                                    <a href="/student">
                                        <i class="icon-edit"></i> &nbsp;&nbsp; Manage Account
                                    </a>
                                </li>
                                <li>
                                    <a href="/student/my-courses">
                                        <i class="icon-book"></i> &nbsp;&nbsp; My Courses
                                    </a>
                                </li>
                                <li>
                                    <a href="/student/my-watch-list">
                                        <i class="icon-heart"></i> &nbsp;&nbsp; My Wish List
                                    </a>
                                </li>
                                <% } else if (authUser.type_of_account === 1){%>
                                    <li>
                                        <a href="/lecturer">
                                            <i class="icon-edit"></i> &nbsp;&nbsp; My Site
                                        </a>
                                    </li>
                                    <% } else{ %>
                                        <li>
                                            <a href="/admin">
                                                <i class="icon-edit"></i> &nbsp;&nbsp; My Site
                                            </a>
                                        </li>
                                        <% } %>
                                            <!-- <li>
                                                <a href="/account/logout">
                                                    <i class="icon-logout"></i> &nbsp;&nbsp; Sign Out
                                                </a>
                                            </li> -->
                                            <form id="logout" action="/account/logout" method="post">
                                            </form>
                                            <li>
                                                <a href="javascript:$('#logout').submit();">
                                                    <i class="icon-logout"></i> &nbsp;&nbsp; Sign Out
                                                </a>
                                            </li>
                        </ul>
                    </li>

                    <% } %>
        </ul>
    </nav>
</header>