<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%= JSON.stringify(lstCat1) %>
    <h1>lstCat2</h1>
    <%= JSON.stringify(lstCat2) %> 
    <!-- top4HotCoursesLastWeek,top10CoursesByViews, top10NewCourses, top4Cat1BuyLastWeek -->
    <h1>top4HotCoursesLastWeek</h1>
    <%= JSON.stringify(top4HotCoursesLastWeek) %>
    <h1>top10CoursesByViews</h1>
    <%= JSON.stringify(top10CoursesByViews) %>
    <h1>top10NewCourses</h1>
    <%= JSON.stringify(top10NewCourses) %>
    <h1>top4Cat1BuyLastWeek</h1>
    <%= JSON.stringify(top4Cat1BuyLastWeek) %>
     

  </body>
</html>
